* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    position: relative;
    background: lavender;
}

body {
    display: contents;
}

am-prog {
    position: absolute;
    padding: 2rem;
    gap: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-areas: "top" "bottom";
    grid-template-rows: auto 1fr;
}

am-set-select {
    grid-area: top;
}

am-tiles {
    gird-area: bottom;
}

am-tiles {
    display: grid;
    --tile-size: 200px;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    gap: 1rem;
    min-height: 100%;

    am-tile {
        display: flex;
        justify-content: center;
        position: relative;
        color: black;
        perspective: 800px;
        perspective-origin: center center;

        .card {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transition: transform 512ms ease-in-out;
            transform-style: preserve-3d;
            pointer-events: none;
        }

        .front {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            backface-visibility: hidden;
            background: slategrey;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            font-family: sans-serif;
            color: lavender;
        }

        .back {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            backface-visibility: hidden;
            background: red;
            transform: rotateY(-180deg);
        }

        .back:has(audio) {
            background: slategrey;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;

            audio {
                width: 2rem;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &[open="true"] .card {
            transform: rotateY(180deg);
        }

        &:is([open="false"]) iframe {
            display: none;
        }

        &[state="correct"] .card::before {
            content: "";
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            background: green;
            mix-blend-mode: color;
            z-index: 1;
        }

        iframe {
            height: 100%;
            width: auto;
            z-index: 1;
        }

        button {
            border: none;
            font-size: 2rem;
            background: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
        }
    }
}

iframe {
    pointer-events: none;
    aspect-ratio: 16 / 9;
}

